USE [master]
GO
/****** Object:  Database [QLCuaHangMayTinh]    Script Date: 11/08/2020 02:22:41 PM ******/
CREATE DATABASE [QLCuaHangMayTinh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLCuaHangMayTinh', FILENAME = N'D:\BTLCSDL\QLCuaHangMayTinh.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLCuaHangMayTinh_log', FILENAME = N'D:\BTLCSDL\QLCuaHangMayTinh_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLCuaHangMayTinh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLCuaHangMayTinh]
GO
/****** Object:  UserDefinedFunction [dbo].[Fun_DoanhThu_TheoNgay]    Script Date: 11/08/2020 02:22:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[Fun_DoanhThu_TheoNgay](
@Ngay1 date,@Ngay2 date)
returns float
begin
	declare @DoanhThu float
	select @DoanhThu=sum(TongTien) 
	from HoaDon
	where NgayBan between @Ngay1 and @Ngay2
	return @DoanhThu
end
GO
/****** Object:  UserDefinedFunction [dbo].[Fun_Hang_TongSoLuongTon]    Script Date: 11/08/2020 02:22:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[Fun_Hang_TongSoLuongTon]()
returns int
as
begin
	declare @tong int
	select @tong = (select SUM(SoLuongTon) from Hang)
	return @tong
end
GO
/****** Object:  UserDefinedFunction [dbo].[Fun_Hang_TongSoMatHangConLai]    Script Date: 11/08/2020 02:22:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[Fun_Hang_TongSoMatHangConLai]()
returns int
 as
 begin
	declare @tong int
	select @tong = (select COUNT(MaHang) from Hang where SoLuongTon >=1)
	return @tong
end
GO
/****** Object:  UserDefinedFunction [dbo].[Fun_HoaDon_TheoNgay]    Script Date: 11/08/2020 02:22:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[Fun_HoaDon_TheoNgay](@Ngay1 date, @Ngay2 date)
returns int 
as
begin
	declare @SoLuong int
	select @SoLuong = (select count(*) from HoaDon where NgayBan between @Ngay1 and @Ngay2) 
	return @SoLuong
end
GO
/****** Object:  UserDefinedFunction [dbo].[Fun_LoiNhuan_TheoNgay]    Script Date: 11/08/2020 02:22:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[Fun_LoiNhuan_TheoNgay](@Ngay1 date, @Ngay2 date)
returns float
as
begin
	declare @Lai float,@DoanhThu float
	select @DoanhThu = dbo.Fun_DoanhThu_TheoNgay (@Ngay1, @Ngay2)
	select @Lai=@DoanhThu-SUM(DonGiaNhap*SoLuong) from ChiTietHD inner join Hang
	on ChiTietHD.MaHang=Hang.MaHang inner join HoaDon
	on ChiTietHD.MaHD=HoaDon.MaHD
	where NgayBan between @Ngay1 and @Ngay2
	return @Lai
end
GO
/****** Object:  Table [dbo].[Hang]    Script Date: 11/08/2020 02:22:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hang](
	[MaHang] [varchar](50) NOT NULL,
	[TenHang] [nvarchar](50) NULL,
	[MaHangSanXuat] [varchar](10) NULL,
	[SoLuongTon] [int] NULL,
	[DonGiaNhap] [int] NULL,
	[DonGiaBan] [int] NULL,
	[NgayNhapHang] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangSanXuat]    Script Date: 11/08/2020 02:22:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangSanXuat](
	[MaHangSanXuat] [varchar](10) NOT NULL,
	[TenHangSanXuat] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHangSanXuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Hang_HangSX]    Script Date: 11/08/2020 02:22:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vw_Hang_HangSX]
as
select MaHang,TenHang,TenHangSanXuat,SoLuongTon,DonGiaNhap,DonGiaBan,NgayNhapHang 
from Hang inner join HangSanXuat
on Hang.MaHangSanXuat=HangSanXuat.MaHangSanXuat
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 11/08/2020 02:22:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [varchar](50) NOT NULL,
	[MaNV] [varchar](50) NULL,
	[NgayBan] [date] NULL,
	[MaKhach] [varchar](50) NULL,
	[TongTien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/08/2020 02:22:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](50) NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](5) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [nvarchar](10) NULL,
	[ChucVu] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_HoaDon_NhanVien]    Script Date: 11/08/2020 02:22:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vw_HoaDon_NhanVien]
as
select MaHD,NhanVien.MaNV,TenNV,MaKhach,NgayBan,TongTien
from HoaDon inner join NhanVien
on HoaDon.MaNV=NhanVien.MaNV
GO
/****** Object:  View [dbo].[vw_MatHang]    Script Date: 11/08/2020 02:22:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[vw_MatHang]
as
select MaHang,TenHang,SoLuongTon
from Hang
GO
/****** Object:  Table [dbo].[Khach]    Script Date: 11/08/2020 02:22:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khach](
	[MaKhach] [varchar](50) NOT NULL,
	[TenKhach] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](5) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ThongTinGiaoDichHang_KhachHang]    Script Date: 11/08/2020 02:22:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vw_ThongTinGiaoDichHang_KhachHang]
as
	select Khach.MaKhach, TenKhach, NhanVien.MaNV, TenNV, NgayBan
	from NhanVien
	inner join HoaDon on HoaDon.MaNV = NhanVien.MaNV
	inner join Khach on Khach.MaKhach = HoaDon.MaKhach
GO
/****** Object:  View [dbo].[vw_TongSoHoaDon_NhanVien]    Script Date: 11/08/2020 02:22:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vw_TongSoHoaDon_NhanVien]
as
	select NhanVien.MaNV, TenNV, count (MaHD) as N'Tổng số hóa đơn'
	from NhanVien inner join HoaDon on HoaDon.MaNV = NhanVien.MaNV
	group by NhanVien.MaNV, TenNV
GO
/****** Object:  Table [dbo].[admin]    Script Date: 11/08/2020 02:22:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[ID] [varchar](10) NOT NULL,
	[Name] [nvarchar](30) NULL,
	[Password] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHD]    Script Date: 11/08/2020 02:22:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHD](
	[MaHD] [varchar](50) NOT NULL,
	[MaHang] [varchar](50) NOT NULL,
	[SoLuong] [int] NULL,
	[GiamGia] [float] NULL,
	[ThanhTien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[admin] ([ID], [Name], [Password]) VALUES (N'1', N'admin', N'admin')
GO
INSERT [dbo].[ChiTietHD] ([MaHD], [MaHang], [SoLuong], [GiamGia], [ThanhTien]) VALUES (N'HDB20201106|1', N'MH1', 2, 3, 250260)
INSERT [dbo].[ChiTietHD] ([MaHD], [MaHang], [SoLuong], [GiamGia], [ThanhTien]) VALUES (N'HDB20201106|1', N'MH13', 5, 3, 51846499)
INSERT [dbo].[ChiTietHD] ([MaHD], [MaHang], [SoLuong], [GiamGia], [ThanhTien]) VALUES (N'HDB20201106|10', N'MH11', 2, 4, 5758080)
GO
INSERT [dbo].[Hang] ([MaHang], [TenHang], [MaHangSanXuat], [SoLuongTon], [DonGiaNhap], [DonGiaBan], [NgayNhapHang]) VALUES (N'MH1', N'Chuột Logitech B100 Black', N'HSX9', 36, 99000, 129000, CAST(N'2020-11-05' AS Date))
INSERT [dbo].[Hang] ([MaHang], [TenHang], [MaHangSanXuat], [SoLuongTon], [DonGiaNhap], [DonGiaBan], [NgayNhapHang]) VALUES (N'MH10', N'Màn hình Asus VG279Q', N'HSX3', 50, 6989000, 8999000, CAST(N'2020-11-05' AS Date))
INSERT [dbo].[Hang] ([MaHang], [TenHang], [MaHangSanXuat], [SoLuongTon], [DonGiaNhap], [DonGiaBan], [NgayNhapHang]) VALUES (N'MH11', N'Màn hình HP19KA', N'HSX5', 20, 1649000, 2999000, CAST(N'2020-11-05' AS Date))
GO
INSERT [dbo].[HangSanXuat] ([MaHangSanXuat], [TenHangSanXuat]) VALUES (N'HSX1', N'Acer')
INSERT [dbo].[HangSanXuat] ([MaHangSanXuat], [TenHangSanXuat]) VALUES (N'HSX10', N'Kingston')
INSERT [dbo].[HangSanXuat] ([MaHangSanXuat], [TenHangSanXuat]) VALUES (N'HSX11', N'Western Digital')
GO
INSERT [dbo].[HoaDon] ([MaHD], [MaNV], [NgayBan], [MaKhach], [TongTien]) VALUES (N'HDB20201106|1', N'TCLKT1', CAST(N'2020-11-06' AS Date), N'KH10', 52096759)
INSERT [dbo].[HoaDon] ([MaHD], [MaNV], [NgayBan], [MaKhach], [TongTien]) VALUES (N'HDB20201106|10', N'TCLKT6', CAST(N'2020-11-06' AS Date), N'KH2', 11642880)
INSERT [dbo].[HoaDon] ([MaHD], [MaNV], [NgayBan], [MaKhach], [TongTien]) VALUES (N'HDB20201106|11', N'TCLKT6', CAST(N'2020-11-06' AS Date), N'KH4', 6005760)
GO
INSERT [dbo].[Khach] ([MaKhach], [TenKhach], [GioiTinh], [DiaChi], [SDT]) VALUES (N'KH1', N'Trần Nam Hải', N'Nam', N'Thái Bình', N'0977019560')
INSERT [dbo].[Khach] ([MaKhach], [TenKhach], [GioiTinh], [DiaChi], [SDT]) VALUES (N'KH10', N'Trần Huy Văn', N'Nam', N'Hà Nội', N'0568875788')
INSERT [dbo].[Khach] ([MaKhach], [TenKhach], [GioiTinh], [DiaChi], [SDT]) VALUES (N'KH11', N'Phạm Yến Anh', N'Nữ', N'Ninh Bình', N'0988976890')
GO
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [GioiTinh], [NgaySinh], [DiaChi], [SDT], [ChucVu]) VALUES (N'TCLKT1', N'Nguyễn Quốc Hiệu', N'Nam', CAST(N'2000-11-17' AS Date), N'Hà Nội', N'0339657164', N'Nhân viên')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [GioiTinh], [NgaySinh], [DiaChi], [SDT], [ChucVu]) VALUES (N'TCLKT2', N'Hoàng Thị Mai', N'Nữ', CAST(N'2000-09-20' AS Date), N'Thái Bình', N'0977019702', N'Quản lý')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [GioiTinh], [NgaySinh], [DiaChi], [SDT], [ChucVu]) VALUES (N'TCLKT3', N'Nguyễn Thị Hồng Hải', N'Nữ', CAST(N'2000-11-12' AS Date), N'Hà Nội', N'0976555687', N'Quản lý')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Unique_SDT_KH]    Script Date: 11/08/2020 02:22:42 PM ******/
ALTER TABLE [dbo].[Khach] ADD  CONSTRAINT [Unique_SDT_KH] UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Unique_SDT_NhanVien]    Script Date: 11/08/2020 02:22:42 PM ******/
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [Unique_SDT_NhanVien] UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietHD]  WITH CHECK ADD  CONSTRAINT [FK_Hang_ChiTietHD] FOREIGN KEY([MaHang])
REFERENCES [dbo].[Hang] ([MaHang])
GO
ALTER TABLE [dbo].[ChiTietHD] CHECK CONSTRAINT [FK_Hang_ChiTietHD]
GO
ALTER TABLE [dbo].[ChiTietHD]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_ChiTietHD] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHD] CHECK CONSTRAINT [FK_HoaDon_ChiTietHD]
GO
ALTER TABLE [dbo].[Hang]  WITH CHECK ADD  CONSTRAINT [FK_Hang_HangSX] FOREIGN KEY([MaHangSanXuat])
REFERENCES [dbo].[HangSanXuat] ([MaHangSanXuat])
GO
ALTER TABLE [dbo].[Hang] CHECK CONSTRAINT [FK_Hang_HangSX]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaKhach])
REFERENCES [dbo].[Khach] ([MaKhach])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[ChiTietHD]  WITH CHECK ADD  CONSTRAINT [check_SoLuong] CHECK  (([SoLuong]>=(0)))
GO
ALTER TABLE [dbo].[ChiTietHD] CHECK CONSTRAINT [check_SoLuong]
GO
ALTER TABLE [dbo].[Hang]  WITH CHECK ADD  CONSTRAINT [check_soLuongTon] CHECK  (([SoLuongTon]>=(0)))
GO
ALTER TABLE [dbo].[Hang] CHECK CONSTRAINT [check_soLuongTon]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [Check_GioiTinh] CHECK  (([GioiTinh]='Nam' OR [GioiTinh]=N'Nữ'))
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [Check_GioiTinh]
GO
/****** Object:  StoredProcedure [dbo].[delete_HD]    Script Date: 11/08/2020 02:22:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[delete_HD]
@MaHD varchar(50)
as
begin 
	declare con_tro_CTHD cursor
	dynamic scroll
	for
		select MaHang from ChiTietHD
	open con_tro_CTHD
	declare @MaHang varchar(50)
	fetch next from con_tro_CTHD into @MaHang
	while(@@FETCH_STATUS=0)
		begin
			delete from ChiTietHD
			where MaHD=@MaHD and MaHang=@MaHang
			fetch next from con_tro_CTHD into @MaHang
		end
	close con_tro_CTHD
	deallocate con_tro_CTHD 
	delete from HoaDon
	where MaHD=@MaHD
end
GO
/****** Object:  StoredProcedure [dbo].[sp_SoLuongTon]    Script Date: 11/08/2020 02:22:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_SoLuongTon] 
@MaHang varchar(10)
as
begin
 select SoLuongTon as SoLuongTon from Hang
 where MaHang=@MaHang
end
GO
/****** Object:  StoredProcedure [dbo].[sp_TimKiem_Hang_NgayNhap]    Script Date: 11/08/2020 02:22:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_TimKiem_Hang_NgayNhap]
@Ngay date
as
begin
	select * from vw_Hang_HangSX where NgayNhapHang = @Ngay 
end
GO
/****** Object:  StoredProcedure [dbo].[sp_TimKiem_Hang_TenHangSX]    Script Date: 11/08/2020 02:22:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_TimKiem_Hang_TenHangSX]
@TenHangSX nvarchar(30)
as
begin
    select * from vw_Hang_HangSX
	where TenHangSanXuat=@TenHangSX
end
GO
/****** Object:  StoredProcedure [dbo].[sp_TimKiem_HoaDon_TenNV]    Script Date: 11/08/2020 02:22:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_TimKiem_HoaDon_TenNV]
@TenNV nvarchar (50)
as
begin
    select * from vw_HoaDon_NhanVien
	where TenNV like N'%'+@TenNV
end
GO
/****** Object:  StoredProcedure [dbo].[sp_TimKiem_HoaDon_TheoNgay]    Script Date: 11/08/2020 02:22:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[sp_TimKiem_HoaDon_TheoNgay]
@Ngay1 date, @Ngay2 date
as
begin
	select * from vw_HoaDon_NhanVien
	where NgayBan  between @Ngay1 and @Ngay2
end
GO
/****** Object:  StoredProcedure [dbo].[sp_TimKiem_KhachHang_SDT]    Script Date: 11/08/2020 02:22:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_TimKiem_KhachHang_SDT]
@SDT varchar(10)
as
begin
	select *
	from Khach
	where SDT=@SDT
end
GO
/****** Object:  StoredProcedure [dbo].[sp_TimKiem_KhachHang_TenKH]    Script Date: 11/08/2020 02:22:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_TimKiem_KhachHang_TenKH]
@TenKH nvarchar (50)
as
begin
    select * from Khach
	where TenKhach like N'%'+ @TenKH+''
end
GO
/****** Object:  StoredProcedure [dbo].[sp_TimKiem_NhanVien_GioiTinh]    Script Date: 11/08/2020 02:22:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_TimKiem_NhanVien_GioiTinh]
@GT nvarchar(3)
as
begin
	select *
	from NhanVien
	where GioiTinh=@GT
end
GO
/****** Object:  StoredProcedure [dbo].[sp_TimKiem_NhanVien_HT]    Script Date: 11/08/2020 02:22:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_TimKiem_NhanVien_HT]
@Hoten nvarchar(50)
as
begin
	select *
	from NhanVien
	where TenNV like N'%'+@Hoten
end
GO
/****** Object:  StoredProcedure [dbo].[sp_TimKiem_NhanVien_QQ]    Script Date: 11/08/2020 02:22:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_TimKiem_NhanVien_QQ]
@QQ nvarchar(10)
as
begin
	select *
	from NhanVien
	where DiaChi=@QQ
end
GO
/****** Object:  Trigger [dbo].[Tr_CapNhatDatHang_ChitietHoaDon]    Script Date: 11/08/2020 02:22:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[Tr_CapNhatDatHang_ChitietHoaDon]
on [dbo].[ChiTietHD]
for update
as
begin
	update Hang
	set SoLuongTon=SoLuongTon-(select SoLuong from inserted where Hang.MaHang=inserted.MaHang)
	+ (select SoLuong from deleted where Hang.MaHang=deleted.MaHang)
	from (select MaHang from deleted) as D
	where Hang.MaHang=D.MaHang
end
GO
ALTER TABLE [dbo].[ChiTietHD] ENABLE TRIGGER [Tr_CapNhatDatHang_ChitietHoaDon]
GO
/****** Object:  Trigger [dbo].[Tr_SoLuongTon_Hang]    Script Date: 11/08/2020 02:22:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[Tr_SoLuongTon_Hang]
on [dbo].[ChiTietHD]
for insert
as 
begin
	update Hang
	set SoLuongTon = SoLuongTon - (
		select SoLuong
		from inserted
		where inserted.MaHang = Hang.MaHang
	)
	from ChiTietHD, inserted 
	where Hang.MaHang = inserted.MaHang	
end
GO
ALTER TABLE [dbo].[ChiTietHD] ENABLE TRIGGER [Tr_SoLuongTon_Hang]
GO
/****** Object:  Trigger [dbo].[Tr_SoLuongTon_XoaChiTietHoaDon]    Script Date: 11/08/2020 02:22:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[Tr_SoLuongTon_XoaChiTietHoaDon]on [dbo].[ChiTietHD]for deleteasbegin	update Hang	set SoLuongTon = SoLuongTon + (select SoLuong from deleted where deleted.MaHang = Hang.MaHang)	from  deleted	where Hang.MaHang = deleted.MaHangend	
GO
ALTER TABLE [dbo].[ChiTietHD] ENABLE TRIGGER [Tr_SoLuongTon_XoaChiTietHoaDon]
GO
/****** Object:  Trigger [dbo].[Tr_ThanhTien_ChiTietHoaDon]    Script Date: 11/08/2020 02:22:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[Tr_ThanhTien_ChiTietHoaDon]
on [dbo].[ChiTietHD]
for insert, update
as
if((select MaHang from inserted) is not null)
begin
	update ChiTietHD
	set ThanhTien=ChiTietHD.SoLuong*(1-(GiamGia/100))*DonGiaBan from Hang,(select MaHang,MaHD from inserted) as I
	where Hang.MaHang=ChiTietHD.MaHang and ChiTietHD.MaHang=I.MaHang and ChiTietHD.MaHD=I.MaHD
end
GO
ALTER TABLE [dbo].[ChiTietHD] ENABLE TRIGGER [Tr_ThanhTien_ChiTietHoaDon]
GO
/****** Object:  Trigger [dbo].[Tr_TongTienHoaDon]    Script Date: 11/08/2020 02:22:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[Tr_TongTienHoaDon]
on [dbo].[ChiTietHD]
for insert, update
as
if((select MaHD from inserted)is not null)
begin
	update HoaDon 
	set TongTien=(select SUM(ThanhTien) from ChiTietHD
	where ChiTietHD.MaHD=HoaDon.MaHD)
	from (select MaHD from inserted) as I
	where HoaDon.MaHD=I.MaHD
end
GO
ALTER TABLE [dbo].[ChiTietHD] ENABLE TRIGGER [Tr_TongTienHoaDon]
GO
/****** Object:  Trigger [dbo].[Tr_TongTienHoaDon_XoaChiTietHoaDon]    Script Date: 11/08/2020 02:22:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[Tr_TongTienHoaDon_XoaChiTietHoaDon]
on [dbo].[ChiTietHD]
for delete
as
if((select MaHD from deleted)is not null)
begin
	update HoaDon 
	set TongTien=(select SUM(ThanhTien) from ChiTietHD
	where ChiTietHD.MaHD=HoaDon.MaHD)
	from (select MaHD from deleted) as I
	where HoaDon.MaHD=I.MaHD
end
GO
ALTER TABLE [dbo].[ChiTietHD] ENABLE TRIGGER [Tr_TongTienHoaDon_XoaChiTietHoaDon]
GO
USE [master]
GO
